<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
 
<beans>
  
  <bean id="hsqldbServer" class="pu.db.databases.hsql.HsqldbServer"
    init-method="start"
    destroy-method="stop">
    <property name="dataSource"><ref bean="hsqldbServerDataSource" /></property>
    <property name="databasePath" value="c:\data\rlog\db\rlog" />
    <property name="databaseAlias" value="rlog" />
	  <property name="port" value="44440" />
  </bean>
  
  <!-- The data resource -->
	<bean id="hsqldbServerDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
		<property name="url"             value="jdbc:hsqldb:hsql://localhost:44440/rlog"/>
		<property name="username"        value="sa"/>
		<property name="password"        value=""/>
	</bean>
	

</beans>